# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\S@phir-dev\conteneur-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
