.accueil {
  --scrollbar-thumb-color: #0c2a77;
  --scrollbar-border-radius: 4px;
}

.content {
  margin-top: 40px;
}

.btnCacher {
  visibility: hidden;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

#logoMistral {
  /*background-color: #f8f9fa;*/
  width: 20%;
  margin-left: 40%;
  margin-bottom: 3%;
}

#carouselExampleIndicators {
  width: 100%;
  margin-bottom: 25px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-caption {
  height: 365px;
}

.carousel-inner {
  height: 300px;
}

.carousel-inner:hover {
  cursor: pointer;
}

.carousel-item {
  max-height: 600px;
}

.carousel-inner.active {
  height: auto;
}

.carousel-inner.active:hover {
  cursor: pointer;
}

.carousel-caption.active {
  height: auto;
}

.carousel-item > img {
  position: relative;
  top: -300px;
}

.carousel-indicators li {
  width: 80px;
  height: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.carousel-caption h5 {
  color: #5bc5f1;
  font-weight: bold;
}

.card-text {
  display: none;
}

.groupeCard {
  margin: auto;
}

.card {
  margin: 0 25px 25px 25px;
  max-width: 100%;
  height: min-content;
  min-width: 165px;
}

.card.active {
  resize: both;
  overflow: auto;
  height: max-content;
}

.card-img-top {
  width: 30%;
  margin: 10px auto 10px auto;
  background-color: white;
}

.card-body {
  overflow: auto;
}

.btnDeployer,
.btnCacher {
  background-color: #0c2a77;
  color: white;
  width: 126px;
  height: 25px;
  border-radius: 3.25px;
  border: 0;
  font-size: 14px;
  padding: 0px 5px 0px 5px;
  margin: 0 0 5px 0;
}

.btnDeployer:hover,
.btnCacher:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.288);
  text-decoration: none;
  cursor: pointer;
}

#widget_autocomplete_preview {
  width: -moz-available;
}

#save {
  background-color: #0c2a77;
  color: white;
  border: none;
  position: relative;
  width: 40%;
  height: 30px;
  left: 30%;
  top: -10px;
  border-radius: 3.25px;
  margin: 10px 0 10px 0;
}

#save:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.288);
  text-decoration: none;
  cursor: pointer;
}

.fa-save {
  font-size: 16px;
  margin-right: 10px;
}


.env {
  background-color: red;
}
